<header>
    <div class="contenedor-logo-busqueda">
        <img src="images/logo-mercado-liebre.svg" class="logo" alt="Logo MercadoLiebre" width="360px" >
        <article class="boton-busqueda">
            <div class="contenedor-buscador">
            <form action="" class="busqueda" method="post" target="_blank">
                <input type="search" placeholder="Buscar productos, marcas, etc." size="30px" class="casillero">
            </form>
            </div>
            <div class="contenedor-boton">
            <button type="submit" class="boton"><i class="fas fa-search"></i></button>
            </div>
        </article>
        <div class="cuotas">
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
        </div>
    </div>   
    <br>

    <section class="contenedor-links">
        <nav class="navbar">
            <ul type="none" class="barra-nav1">
                <li class="lista1"><a href="/">Ofertas</a></li>
                <li class="lista2"><a href="#">Tiendas Oficiales</a></li>
                <li class="lista3"><a href="#">Vender</a></li>
                <li class="lista4"><a href="#">Ayuda</a></li>
            </ul>
            <ul type="none" class="barra-nav2">
                <li class="lista5"><a href="register">Creá tu cuenta <i class="far fa-id-card icon-nav"></i></a></li>
                <li class="lista6"><a href="login">Ingresá <i class="fas fa-sign-in-alt icon-nav"></i></a></li>
                <li class="lista7"><a href="#">Mis compras <i class="fas fa-shopping-basket icon-nav"></i></a></li>
            </ul>
        </nav>
        <article class="contenedor-burger">
            <div class="burger-menu">
                <a href=""><i class="fa fa-bars burger"></i></a>
            </div>
        </article>
    </section>
    

</header>