body {
    background-color: #ebebeb;
}

* {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    box-sizing: border-box;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #EAC926;
}

.contenedor-logo-busqueda {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    margin: 15px;
    height: 50%;
    width: 50%;
    flex: 1 1 auto;
}

.boton-busqueda {
    margin-top: 20px;
    text-align: center;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuotas {
    margin-top: 10px;
    text-align: center;
    flex: 5 1 100%;
}

.contenedor-buscador {
    flex: 0 1 auto;
}

.busqueda {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.contenedor-boton {
    flex: 0 1 auto;
    text-align: left;
}

.boton {
    padding: 2px 5px;
    font-size: 1em;
    border-radius: 3px;
    border: solid 1px #666;
    background: #ebebeb;
}

.nav-bar {
    display: none;
}

.contenedor-burger {
    margin-top: 0px;
    padding: auto;
    text-align: center;
    visibility: visible;
    display: flex;
    justify-content: center;
}

.burger-menu {
    background-color: #1259c3;
    padding: 9px 10px;
    border-radius: 3px;
    text-align: center;
}

.burger {
    font-size: 18px;
    text-align: center;
    color: #fff;
    align-self: center;
}

.banner {
    margin-top: 15px;
}

main {
    margin: auto;
    background-color: #ebebeb;
    align-content: right;
    width: 90%;
}

h2 {
    font-size: 24px;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
}

.productos {
    background: #fff;
    padding-bottom: 10px;
    margin: 15px;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}
.productos:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: border 0.5s;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: solid 1px #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}



.camion {
    padding: 10px 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
}

.camion-detalle {
    color: #39b54a;
}

.detalle {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.precios {
    font-size: 18px;
    margin-bottom: 0px;
    flex-grow: 30%;
}

.descuento {
    font-size: 16px;
    color: #39b54a;
    margin-top: 0px;
    margin-left: 10px;
    flex-grow: 70%;
    text-align: left;
}

.descripcion {
    visibility: hidden;
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    text-align: left;
    flex: 5 1 100%;
}

.descripcion:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

footer {
    background-color: #fff;
    text-align: center;
}

.icono {
    font-size: 2em;
    color: #1259c3;
    padding-top: 40px;
    margin-bottom: 10px;
}

footer h3 {
    margin-bottom: 0px;
}

footer p {
    margin-top: 0px;
}

.texto {
    color: #666;
}

.copyright {
    margin-top: 30px;
    padding-bottom: 10px;
}



.container-log {
    display: flex;
    flex-flow: column;
    margin-left: 6%;
}

.send-button {
    background-color: #1259c3;
    color: #fff;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

.send-button:hover {
    background-color: #0022aa;
    transition: 0.5s;
}

.boton-send:hover {
    background-color: #0022aa;
    transition: 0.5s;
}

.register-container {
    display: flex;
    flex-flow: column;
    margin-left: 6%;
}

.register-form,
.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    justify-content: center;
    margin-bottom: 15px;
}

.name-lastname,
.username,
.email,
.birthday,
.address,
.password {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    margin-bottom: 25px;
    width: 100%;
    height: 28px;
    border: none;
    border-radius: 5px;
}

.titulado {
    margin: 20px 0px 15px 3px;
}

.usuario {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}

.radio-item {
    margin-left: 5px;
}

.radio-label {
    margin-left: 10px;
}

.checkslist {
    margin-top: 15px;
    display: flex;
    flex-flow: column;
    width: 50%;
    flex-wrap: wrap;
}

.check-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.check-label {
    margin-left: 7px;
}

.userpic {
    margin: 3px 0px 30px 10px;
}

.botones {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.boton-send {
    background: #1259c3;
    border: none;
    border-radius: 3px;
    height: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.reset-button {
    background: #fff;
    width: 100%;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    height: 30px;
}

.send-button {
    text-decoration: none;
}


@media (min-width: 361px) {

    .contenedor-logo-busqueda {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cuotas {
        justify-content: center;
        align-self: center;
        flex: 0 1 auto;
    }
    .leyenda {
        width: 30%;
        margin-right: 15px;
    }
    .boton-busqueda {
        text-align: center;
        justify-content: center;
        flex: 1 1 auto;
    }
    .casillero {
        width: 150px;
    }
    .navbar {
        margin-top: 25px;
        margin-bottom: 0px;
        visibility: visible;
        display: flex;
        justify-content: space-around;
    }
    .contenedor-burger {
        display: none;
    }
    .barra-nav1,
    .barra-nav2,
    a {
        text-decoration: none;
        color: black;
        text-align: left;
    }
    .barra-nav1,
    .barra-nav2 {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .lista1,
    .lista2,
    .lista3,
    .lista4,
    .lista5,
    .lista6,
    .lista7 {
        font-size: 8px;
        padding: 3px;
    }
    .contenedor-productos {
        display: flex;
        flex-wrap: wrap;
    }
    .productos {
        width: 40%;
    }
    
}






@media (min-width: 769px) {
    * {
        font-size: 1rem;
    }
   

    .logo {
        margin-left: 20px;
        flex: 1 1 30%;
    }
    .cuotas {
        flex: 1 1 40%;
    }
    .boton-busqueda {
        justify-content: space-around;
        flex: 1 1 60%;
        margin-top: 10px;
    }
    .casillero {
        flex: 1 1 70%;
        width: 350px;
        height: 24px;
    }
    .boton {
        padding: 3px 5px;
    }
    .contenedor-burger {
        display: none;
    }
    .barra-nav1 {
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1 1 50%;
        margin-right: 5%;
    }
    .barra-nav2 {
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1 1 50%;
        margin-left: 5%;
    }

    .contenedor-productos {
        display: flex;
        flex-wrap: wrap;
    }
    .productos {
        width: 21%;
    }
    .descripcion {
        visibility: visible;
    }

.contenedor-pies {
    display: flex;
    justify-content: space-around;
}
.icono:hover {
    color: #39b54a;
    transition: color 0.5s;
}
}